#!/bin/sh
# Copyright 2020 Benoît Stahl
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        ;;

    package)
	cp -R etc ${pkgdir}
        ;;

    install)
        /bin/bash <(curl -Ss https://my-netdata.io/kickstart.sh) --no-updates --disable-telemetry --dont-wait
        /usr/libexec/netdata/plugins.d/fping.plugin install
        ;;

    uninstall)
	/usr/libexec/netdata/netdata-uninstaller.sh --yes --force --env /etc/netdata/.environment
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
